academic_assignment_generator.json
{
  "name": "Academic Assignment Generator (Autonomous Distinction Engine)",
  "nodes": [
    {
      "parameters": {
        "path": "generate-assignment",
        "formTitle": "Academic Assignment Generator",
        "formDescription": "Upload your assignment brief (PDF, DOCX, or TXT) to generate a distinction-level academic assignment.",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Assignment Brief",
              "fieldType": "file",
              "requiredField": true,
              "acceptFileTypes": ".pdf,.docx,.txt",
              "multipleFiles": false
            }
          ]
        },
        "options": {}
      },
      "id": "node-form-trigger",
      "name": "Form Trigger",
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [220, 300],
      "webhookId": "academic-assignment-generator"
    },
    {
      "parameters": {
        "jsCode": "// Remap binary field from Form Trigger output to 'data' for Extract From File\nconst items = $input.all();\nconst result = [];\nfor (const item of items) {\n  const binary = item.binary || {};\n  if (binary['data']) {\n    // Already has 'data' field, pass through as-is\n    result.push({ json: item.json, binary });\n  } else if (binary['Assignment Brief']) {\n    // Remap the expected Form Trigger field to 'data'\n    result.push({ json: item.json, binary: { data: binary['Assignment Brief'] } });\n  } else {\n    // Fallback: try the first available binary field\n    const keys = Object.keys(binary);\n    if (keys.length === 0) {\n      throw new Error('No file was uploaded. Please upload a PDF, DOCX, or TXT file.');\n    }\n    result.push({ json: item.json, binary: { data: binary[keys[0]] } });\n  }\n}\nreturn result;"
      },
      "id": "node-prepare-binary",
      "name": "Prepare Binary Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [440, 300]
    },
    {
      "parameters": {
        "operation": "text",
        "options": {}
      },
      "id": "node-extract-file",
      "name": "Extract From File",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [660, 300]
    },
    {
      "parameters": {
        "jsCode": "// Consolidate extracted text from any upload format (PDF, DOCX, TXT)\nconst items = $input.all();\nlet briefText = '';\n\nfor (const item of items) {\n  if (item.json.text) {\n    briefText += item.json.text + '\\n';\n  }\n}\n\nif (!briefText.trim()) {\n  throw new Error('No text could be extracted from the uploaded file. Please ensure the file contains readable text.');\n}\n\nreturn [{ json: { briefText: briefText.trim() } }];"
      },
      "id": "node-consolidate-text",
      "name": "Consolidate Brief Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [880, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.1,
          "maxTokens": 4096
        }
      },
      "id": "node-anthropic-extract",
      "name": "Anthropic: Brief Extraction & Requirement Intelligence",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [920, 520],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the Anthropic extraction response into structured JSON\nconst rawResponse = $input.first().json.message?.content\n  || (typeof $input.first().json.response === 'object' ? JSON.stringify($input.first().json.response) : $input.first().json.response)\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst jsonMatch = responseText.match(/```json\\s*([\\s\\S]*?)```/) || responseText.match(/\\{[\\s\\S]*\\}/);\nlet extraction = {};\ntry {\n  extraction = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : responseText);\n} catch(e) {\n  extraction = { rawText: responseText, parseError: e.message };\n}\n\nconst briefText = $input.first().json.briefText || '';\nreturn [{ json: { extraction, briefText } }];"
      },
      "id": "node-parse-extraction",
      "name": "Parse & Validate Extraction",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.2,
          "maxTokens": 4096
        }
      },
      "id": "node-openai-structure",
      "name": "OpenAI: Structure Generation",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1360, 520],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the structure generation response\nconst rawResponse = $input.first().json.message?.content\n  || $input.first().json.response\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst jsonMatch = responseText.match(/```json\\s*([\\s\\S]*?)```/) || responseText.match(/\\{[\\s\\S]*\\}/);\nlet structure = {};\ntry {\n  structure = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : responseText);\n} catch(e) {\n  structure = { rawText: responseText };\n}\n\nconst genericSections = ['introduction', 'conclusion', 'literature review', 'analysis', 'discussion'];\nif (structure.sections) {\n  structure.sections = structure.sections.filter(s => {\n    const title = (s.title || '').toLowerCase();\n    return !genericSections.some(g => title === g);\n  });\n}\n\nconst prevData = $input.first().json;\nreturn [{ json: { ...prevData, structure } }];"
      },
      "id": "node-validate-structure",
      "name": "Validate Structure (No Generic Sections)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.6,
          "maxTokens": 16384
        }
      },
      "id": "node-openai-write",
      "name": "OpenAI: Section Writing Engine",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [1800, 520],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the written content\nconst rawResponse = $input.first().json.message?.content\n  || (typeof $input.first().json.response === 'object' ? JSON.stringify($input.first().json.response) : $input.first().json.response)\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst prevData = $input.first().json;\nreturn [{ json: { ...prevData, writtenContent: responseText } }];"
      },
      "id": "node-parse-written",
      "name": "Parse Written Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2000, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.5,
          "maxTokens": 16384
        }
      },
      "id": "node-anthropic-enhance",
      "name": "Anthropic: Critical Analysis Enhancement & Humanisation",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [2240, 520],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse the enhanced content from Anthropic\nconst rawResponse = $input.first().json.message?.content\n  || (typeof $input.first().json.response === 'object' ? JSON.stringify($input.first().json.response) : $input.first().json.response)\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst prevData = $input.first().json;\nreturn [{ json: { ...prevData, enhancedContent: responseText, iterationCount: 0 } }];"
      },
      "id": "node-parse-enhanced",
      "name": "Parse Enhanced Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2440, 300]
    },
    {
      "parameters": {
        "model": "gpt-4o",
        "options": {
          "temperature": 0.1,
          "maxTokens": 4096
        }
      },
      "id": "node-openai-validate",
      "name": "OpenAI: Validation Engine",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [2680, 520],
      "credentials": {
        "openAiApi": {
          "id": "openai-credentials",
          "name": "OpenAI API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse validation results and determine if refinement is needed\nconst rawResponse = $input.first().json.message?.content\n  || (typeof $input.first().json.response === 'object' ? JSON.stringify($input.first().json.response) : $input.first().json.response)\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst jsonMatch = responseText.match(/```json\\s*([\\s\\S]*?)```/) || responseText.match(/\\{[\\s\\S]*\\}/);\nlet validation = {};\ntry {\n  validation = JSON.parse(jsonMatch ? (jsonMatch[1] || jsonMatch[0]) : responseText);\n} catch(e) {\n  validation = { score: 85, requiresRefinement: false };\n}\n\nconst prevData = $input.first().json;\nconst requiresRefinement = (validation.score || 85) < 80;\nconst iterationCount = (prevData.iterationCount || 0) + 1;\n\nreturn [{ json: { ...prevData, validation, requiresRefinement, iterationCount } }];"
      },
      "id": "node-parse-validation",
      "name": "Parse Validation Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2880, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-refinement",
              "leftValue": "={{ $json.requiresRefinement }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            },
            {
              "id": "condition-max-iterations",
              "leftValue": "={{ $json.iterationCount }}",
              "rightValue": 3,
              "operator": {
                "type": "number",
                "operation": "lt"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "node-refinement-check",
      "name": "Needs Refinement?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [3100, 300]
    },
    {
      "parameters": {
        "model": "claude-sonnet-4-20250514",
        "options": {
          "temperature": 0.4,
          "maxTokens": 16384
        }
      },
      "id": "node-anthropic-refine",
      "name": "Anthropic: Auto-Refinement",
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [3340, 320],
      "credentials": {
        "anthropicApi": {
          "id": "anthropic-credentials",
          "name": "Anthropic API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse refined content and loop back for re-validation\nconst rawResponse = $input.first().json.message?.content\n  || (typeof $input.first().json.response === 'object' ? JSON.stringify($input.first().json.response) : $input.first().json.response)\n  || $input.first().json.text\n  || '';\n\nlet responseText = '';\nif (Array.isArray(rawResponse)) {\n  responseText = rawResponse.map(b => b.text || '').join('');\n} else {\n  responseText = String(rawResponse);\n}\n\nconst prevData = $input.first().json;\nreturn [{ json: { ...prevData, enhancedContent: responseText } }];"
      },
      "id": "node-parse-refined",
      "name": "Parse Refined Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3540, 100]
    },
    {
      "parameters": {
        "jsCode": "// Generate the final HTML document for download\nconst data = $input.first().json;\nconst content = data.enhancedContent;\nconst extraction = data.extraction;\nconst structure = data.structure;\n\nconst title = extraction?.assignmentTitle || 'Academic Assignment';\nconst student = extraction?.studentName || '';\nconst date = new Date().toLocaleDateString('en-GB', { year: 'numeric', month: 'long', day: 'numeric' });\n\nconst html = `<!DOCTYPE html>\n<html lang=\"en\">\n<head>\n<meta charset=\"UTF-8\">\n<meta name=\"viewport\" content=\"width=device-width, initial-scale=1.0\">\n<title>${title}</title>\n<style>\n  body { font-family: 'Times New Roman', serif; font-size: 12pt; line-height: 1.6; margin: 0; padding: 0; color: #000; }\n  .cover { page-break-after: always; display: flex; flex-direction: column; align-items: center; justify-content: center; min-height: 100vh; text-align: center; padding: 60px; }\n  .cover h1 { font-size: 24pt; margin-bottom: 20px; }\n  .cover p { font-size: 14pt; margin: 8px 0; }\n  .content { margin: 60px; }\n  h2 { font-size: 16pt; margin-top: 40px; }\n  h3 { font-size: 13pt; margin-top: 24px; }\n  p { text-align: justify; margin: 12px 0; }\n  .references { margin-top: 40px; border-top: 1px solid #000; padding-top: 20px; }\n  @media print { body { margin: 0; } .content { margin: 25mm; } }\n</style>\n</head>\n<body>\n<div class=\"cover\">\n  <h1>${title}</h1>\n  ${student ? `<p><strong>Student:</strong> ${student}</p>` : ''}\n  <p><strong>Date:</strong> ${date}</p>\n</div>\n<div class=\"content\">\n${content}\n</div>\n</body>\n</html>`;\n\nconst fileName = title.replace(/[^a-z0-9]/gi, '_').toLowerCase() + '_assignment.html';\n\nreturn [{ json: { fileName, data: Buffer.from(html).toString('base64'), mimeType: 'text/html', title } }];"
      },
      "id": "node-generate-html",
      "name": "Generate HTML Document",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [3320, 500]
    },
    {
      "parameters": {
        "pageType": "completionPage",
        "completionTitle": "✅ Your Assignment is Ready!",
        "completionMessage": "=Your distinction-level assignment **{{ $json.title || 'Assignment' }}** has been successfully generated and is available for download.",
        "options": {}
      },
      "id": "node-form-completion",
      "name": "Form Completion",
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [3540, 500]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=You are an expert academic brief analyst. Your task is to extract every requirement from the following assignment brief with surgical precision.\n\n--- ASSIGNMENT BRIEF START ---\n{{ $json.briefText }}\n--- ASSIGNMENT BRIEF END ---\n\nExtract and return a JSON object with:\n- assignmentTitle: string\n- wordCount: number\n- referencingStyle: string\n- tasks: array of { taskNumber, description, commandVerb, marks }\n- hiddenExpectations: array of strings\n- requiredTheories: array of strings\n- markingCriteria: array of strings\n\nReturn ONLY valid JSON, no markdown."
        }
      },
      "id": "node-chain-extract",
      "name": "Brief Extraction Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [900, 300]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=Based on the following extracted requirements, generate the assignment structure.\n\nEXTRACTED REQUIREMENTS:\n{{ JSON.stringify($json.extraction, null, 2) }}\n\nORIGINAL BRIEF:\n{{ $json.briefText }}\n\nGenerate a JSON object with:\n- sections: array of { title, description, wordCount, tasks }\n\nRULES:\n- Section titles MUST come directly from the assignment tasks\n- DO NOT use generic headings: Introduction, Conclusion, Literature Review, Analysis, Discussion\n- ONLY include generic headings if explicitly stated in the brief\n- Word counts must sum to the total required\n\nReturn ONLY valid JSON, no markdown.",
          "options": {
            "systemMessage": "You are an elite academic structure architect. You generate assignment structures that are STRICTLY derived from the assignment brief. You NEVER use generic or template-based headings."
          }
        }
      },
      "id": "node-chain-structure",
      "name": "Structure Generation Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=Write the COMPLETE assignment content based on the structure below. Write EVERY section in full.\n\nASSIGNMENT STRUCTURE:\n{{ JSON.stringify($json.structure, null, 2) }}\n\nEXTRACTED REQUIREMENTS:\n{{ JSON.stringify($json.extraction, null, 2) }}\n\nORIGINAL BRIEF:\n{{ $json.briefText }}\n\nRULES:\n- Write each section fully to its word count\n- Every paragraph: Claim → Evidence (citation) → Critical Analysis → Link to task\n- Minimum 70% peer-reviewed sources\n- Use {{ $json.extraction.referencingStyle || 'Harvard' }} referencing\n- End with a full References section\n- No fluff, no padding, no repetition",
          "options": {
            "systemMessage": "You are a world-class academic writer producing distinction-level work. You write with:\n- Deep critical analysis (not description)\n- Every paragraph follows: Claim → Evidence → Analysis → Task link\n- Formal, precise academic language\n- Real, credible citations"
          }
        }
      },
      "id": "node-chain-writing",
      "name": "Section Writing Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=You are a senior academic editor and humanisation specialist. Your task is to enhance the following academic assignment to distinction level while removing all AI-detectable patterns.\n\nCURRENT CONTENT:\n{{ $json.writtenContent }}\n\nREQUIREMENTS:\n{{ JSON.stringify($json.extraction, null, 2) }}\n\nTasks:\n1. Deepen critical analysis in every section\n2. Vary sentence structure naturally\n3. Remove AI-typical phrases and patterns\n4. Ensure academic tone throughout\n5. Verify all citations follow {{ $json.extraction.referencingStyle || 'Harvard' }} style\n6. Return the complete enhanced assignment with References"
        }
      },
      "id": "node-chain-enhance",
      "name": "Critical Analysis Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2220, 300]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=Validate the following assignment against the original brief and requirements.\n\nORIGINAL BRIEF:\n{{ $json.briefText }}\n\nEXTRACTED REQUIREMENTS:\n{{ JSON.stringify($json.extraction, null, 2) }}\n\nASSIGNMENT CONTENT:\n{{ $json.enhancedContent }}\n\nReturn a JSON object with:\n- score: number (0-100)\n- requiresRefinement: boolean (true if score < 80)\n- issues: array of strings describing problems\n- strengths: array of strings\n\nReturn ONLY valid JSON.",
          "options": {
            "systemMessage": "You are an academic quality assurance validator. You rigorously check assignments against their briefs to ensure distinction-level quality. You are brutally honest and precise."
          }
        }
      },
      "id": "node-chain-validate",
      "name": "Validation Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [2660, 300]
    },
    {
      "parameters": {
        "prompt": {
          "promptType": "define",
          "text": "=You are performing auto-refinement on an academic assignment. This is iteration {{ $json.iterationCount }} of maximum 3.\n\nVALIDATION FEEDBACK:\n{{ JSON.stringify($json.validation, null, 2) }}\n\nCURRENT CONTENT:\n{{ $json.enhancedContent }}\n\nORIGINAL REQUIREMENTS:\n{{ JSON.stringify($json.extraction, null, 2) }}\n\nAddress ALL issues identified in the validation feedback. Return the complete refined assignment."
        }
      },
      "id": "node-chain-refine",
      "name": "Auto-Refinement Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.4,
      "position": [3320, 100]
    }
  ],
  "connections": {
    "Form Trigger": {
      "main": [[{"node": "Prepare Binary Data", "type": "main", "index": 0}]]
    },
    "Prepare Binary Data": {
      "main": [[{"node": "Extract From File", "type": "main", "index": 0}]]
    },
    "Extract From File": {
      "main": [[{"node": "Consolidate Brief Text", "type": "main", "index": 0}]]
    },
    "Consolidate Brief Text": {
      "main": [[{"node": "Brief Extraction Chain", "type": "main", "index": 0}]]
    },
    "Brief Extraction Chain": {
      "main": [[{"node": "Parse & Validate Extraction", "type": "main", "index": 0}]]
    },
    "Parse & Validate Extraction": {
      "main": [[{"node": "Structure Generation Chain", "type": "main", "index": 0}]]
    },
    "Structure Generation Chain": {
      "main": [[{"node": "Validate Structure (No Generic Sections)", "type": "main", "index": 0}]]
    },
    "Validate Structure (No Generic Sections)": {
      "main": [[{"node": "Section Writing Chain", "type": "main", "index": 0}]]
    },
    "Section Writing Chain": {
      "main": [[{"node": "Parse Written Content", "type": "main", "index": 0}]]
    },
    "Parse Written Content": {
      "main": [[{"node": "Critical Analysis Chain", "type": "main", "index": 0}]]
    },
    "Critical Analysis Chain": {
      "main": [[{"node": "Parse Enhanced Content", "type": "main", "index": 0}]]
    },
    "Parse Enhanced Content": {
      "main": [[{"node": "Validation Chain", "type": "main", "index": 0}]]
    },
    "Validation Chain": {
      "main": [[{"node": "Parse Validation Results", "type": "main", "index": 0}]]
    },
    "Parse Validation Results": {
      "main": [[{"node": "Needs Refinement?", "type": "main", "index": 0}]]
    },
    "Needs Refinement?": {
      "main": [
      [{"node": "Auto-Refinement Chain", "type": "main", "index": 0}],
      [{"node": "Generate HTML Document", "type": "main", "index": 0}]
      ]
    },
    "Auto-Refinement Chain": {
      "main": [[{"node": "Parse Refined Content", "type": "main", "index": 0}]]
    },
    "Parse Refined Content": {
      "main": [[{"node": "Validation Chain", "type": "main", "index": 0}]]
    },
    "Generate HTML Document": {
      "main": [[{"node": "Form Completion", "type": "main", "index": 0}]]
    },
    "Anthropic: Brief Extraction & Requirement Intelligence": {
      "ai_languageModel": [[{"node": "Brief Extraction Chain", "type": "ai_languageModel", "index": 0}]]
    },
    "OpenAI: Structure Generation": {
      "ai_languageModel": [[{"node": "Structure Generation Chain", "type": "ai_languageModel", "index": 0}]]
    },
    "OpenAI: Section Writing Engine": {
      "ai_languageModel": [[{"node": "Section Writing Chain", "type": "ai_languageModel", "index": 0}]]
    },
    "Anthropic: Critical Analysis Enhancement & Humanisation": {
      "ai_languageModel": [[{"node": "Critical Analysis Chain", "type": "ai_languageModel", "index": 0}]]
    },
    "OpenAI: Validation Engine": {
      "ai_languageModel": [[{"node": "Validation Chain", "type": "ai_languageModel", "index": 0}]]
    },
    "Anthropic: Auto-Refinement": {
      "ai_languageModel": [[{"node": "Auto-Refinement Chain", "type": "ai_languageModel", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": ""
  },
  "staticData": null,
  "tags": [
    {"name": "Academic", "id": "tag-academic"},
    {"name": "AI", "id": "tag-ai"},
    {"name": "Assignment Generator", "id": "tag-generator"}
  ],
  "triggerCount": 1,
  "updatedAt": "2026-04-12T17:46:53.240Z",
  "versionId": "1.0.0"
}